html{
	background-color: #1ca9c9;
	font-family: NOVA STAMP, Verdana;
	color: green;
}

body{
	justify-content: center;
	position: relative;
}

.select{
	border: solid;
	border-radius: 3px;
	border-color: red;
}

.gameHeader{
	align-self: center;
	display: inline-grid;
	margin: auto;
	width: 100%;
}

.gameHeader h1{
	display: inline-block;
	font-size: 80px;
	margin: auto;
}

.gameHeader input{
	width: 30%;
	margin: auto;
	border:none;
	background-color: #6699cc;
	text-align: center;
	font-family: NOVA STAMP, Verdana;
	font-size: 40px;
}

.difficult{
	padding-top: 5%;
	width: 100%;
}

.difficult select{
	font-family: Verdana;
	margin: auto;
	display: block;
	width: 30%;
	font-size: 40px;
	text-align: center;
	background-color: #6699cc;
	border:none;
}

.cover{
	justify-content: center;
	display: flex;
	padding-top: 5%;
	width: 80%;
	margin: auto;
}
.cover img{
	width: 150px;
	height: 300px;
	margin-left: 5px;
}

.start{
	margin: auto;
	display: flex;
	margin-top: 5%;
	width: 15%;
	text-align: center;
	font-size: 40px;
}

.gameField{
	display: none;
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.gameField img{
	display: inline-block;
	margin: 2px 2px 2px 2px;
}

.timer{
	display: none;
	background-color: green;
	width: 100%;
	height: 20px;
}